<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>

    {#This piece loads the static files folder in the project making possible to pull pictures, css, and js files#}
    {% load static %}

    {#    Using standard keyboard characters#}
    <meta charset="UTF-8">

    {#    Sizing the viewing aspect ratios for scaling#}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {#    Loading all three Cascading Style Sheets#}
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'main/css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
          crossorigin="anonymous"/>

    {#    Browser Tab Title and Meta information#}
    <title>COVID-19 - Home</title>
    <meta name="description"
          content="The purpose of this Covid-19 dashboard is to help the NC community to stay up to date with latest numbers and news">

</head>

{#Initializes the apearance on entry#}
<body onload="setMode(this)">

<a href="#main" class="skip-nav">Skip Navigation</a>

{#Creating the logo and branded display. To the right contains the search box.#}
<div class="toplogo" id="topHeader">
    <img src="../../static/main/img/logo.png" alt="website logo" class="logo">

</div>

{#Main menu navigation#}
<nav class="main-nav">
    <ul class="main-menu">
        <li><a>Home</a></li>
        <li><a href="{% url 'news' %}">Local News</a></li>
        <li><a href="{% url 'donate' %}">Donate</a></li>
        <li><a href="https://www.cdc.gov/" target="_blank">CDC</a></li>
    </ul>
</nav>

{#Placeholder for Tableau Styled Visualizations. Beneath are links to various other pages with labels.#}
<!--place holder-->
<div class="container">
    <header class="map">
        <h2>NC map</h2>
        <p>
            Current statistics
        </p>
        <a href="#" class="btn">NC COVID-19<i class="fas fa-chevron-right"></i></a>
    </header>

    <!--Place holder-->
    <section class="covid" id="covidInfoTab">
        <div class='tableauPlaceholder' id='viz1607104609350' style='position: relative'>
            <noscript><a href='#'><img alt=' '
                                       src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Fi&#47;Final_16052862273800&#47;ConfirmedCasesDashboard&#47;1_rss.png'
                                       style='border: none'/></a></noscript>
            <object class='tableauViz' style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F'/>
                <param name='embed_code_version' value='3'/>
                <param name='site_root' value=''/>
                <param name='name' value='Final_16052862273800&#47;ConfirmedCasesDashboard'/>
                <param name='tabs' value='yes'/>
                <param name='toolbar' value='yes'/>
                <param name='static_image'
                       value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Fi&#47;Final_16052862273800&#47;ConfirmedCasesDashboard&#47;1.png'/>
                <param name='animate_transition' value='yes'/>
                <param name='display_static_image' value='yes'/>
                <param name='display_spinner' value='yes'/>
                <param name='display_overlay' value='yes'/>
                <param name='display_count' value='yes'/>
                <param name='language' value='en'/>
                <param name='filter' value='publish=yes'/>
            </object>
        </div>


        <img src="../../static/main/img/news.jpg" alt="news">
        <h3 id="covidText">Local News</h3>
        <p id="covidText">
            Some text
        </p>
        </section>
</div>

<div class='tableauPlaceholder' id='viz1607104772168' style='position: relative'>
    <noscript><a href='#'><img alt=' '
                               src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Fi&#47;Final_16052862273800&#47;DeathsDashboard&#47;1_rss.png'
                               style='border: none'/></a></noscript>
    <object class='tableauViz' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F'/>
        <param name='embed_code_version' value='3'/>
        <param name='site_root' value=''/>
        <param name='name' value='Final_16052862273800&#47;DeathsDashboard'/>
        <param name='tabs' value='yes'/>
        <param name='toolbar' value='yes'/>
        <param name='static_image'
               value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Fi&#47;Final_16052862273800&#47;DeathsDashboard&#47;1.png'/>
        <param name='animate_transition' value='yes'/>
        <param name='display_static_image' value='yes'/>
        <param name='display_spinner' value='yes'/>
        <param name='display_overlay' value='yes'/>
        <param name='display_count' value='yes'/>
        <param name='language' value='en'/>
        <param name='filter' value='publish=yes'/>
    </object>
</div>

{#Footer containing copyright information and symbol.#}
<footer class="foot">
    <div class="copyright">
        <p><small>Copyright 2020, North Carolina Covid-19 Dashboard</small></p>
    </div>
    <div class="btns">
        <button type="button" onclick="changeMode(this)" id="modeButton" class="footerBtn">Dark Mode</button>
        <button type="button" id="accessibilityBtn" class="footerBtn">Accessibility</button>
        <button type="button" id="legalBtn" class="footerBtn">Legal</button>
    </div>
</footer>

{#Various JavaScript files used for charts.#}
<script src="../../static/main/js/style.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"
        integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg=="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
        integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg=="
        crossorigin="anonymous"></script>
<script type='text/javascript'>                    let divElement = document.getElementById('viz1607104609350');
let vizElement = divElement.getElementsByTagName('object')[0];
if (divElement.offsetWidth > 800) {
    vizElement.style.minWidth = '1920px';
    vizElement.style.maxWidth = '100%';
    vizElement.style.minHeight = '1130px';
    vizElement.style.maxHeight = (divElement.offsetWidth * 0.75) + 'px';
} else if (divElement.offsetWidth > 500) {
    vizElement.style.minWidth = '1920px';
    vizElement.style.maxWidth = '100%';
    vizElement.style.minHeight = '1130px';
    vizElement.style.maxHeight = (divElement.offsetWidth * 0.75) + 'px';
} else {
    vizElement.style.width = '100%';
    vizElement.style.minHeight = '750px';
    vizElement.style.maxHeight = (divElement.offsetWidth * 1.77) + 'px';
}
let scriptElement = document.createElement('script');
scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>


<script type='text/javascript'>                    var divElement = document.getElementById('viz1607104772168');
var vizElement = divElement.getElementsByTagName('object')[0];
if (divElement.offsetWidth > 800) {
    vizElement.style.minWidth = '1920px';
    vizElement.style.maxWidth = '100%';
    vizElement.style.minHeight = '1130px';
    vizElement.style.maxHeight = (divElement.offsetWidth * 0.75) + 'px';
} else if (divElement.offsetWidth > 500) {
    vizElement.style.minWidth = '1920px';
    vizElement.style.maxWidth = '100%';
    vizElement.style.minHeight = '1130px';
    vizElement.style.maxHeight = (divElement.offsetWidth * 0.75) + 'px';
} else {
    vizElement.style.width = '100%';
    vizElement.style.minHeight = '750px';
    vizElement.style.maxHeight = (divElement.offsetWidth * 1.77) + 'px';
}
var scriptElement = document.createElement('script');
scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

</body>
</html>


