<!DOCTYPE html>
<html lang="en">
<head>

    {# Load Static Files and Viewport #}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# Load Stylesheets #}
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/reset.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
          crossorigin="anonymous"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    {# Title and Description #}
    <title>COVID-19 - News</title>
    <meta name="description" content="The purpose of this Covid-19 dashboard is to help  NC
    community to stay up to date with latest numbers and news">

</head>

<body onload="setMode()">

{# Skip Navigation #}
<a class="skip-nav">Skip Navigation</a>

<div class="topLogo" id="topHeader">
    <img src="../../static/main/img/logo.png" alt="website logo" class="logo">
    <!--
    <form class="Zip" action="/action_page.php" style="margin:auto;max-width:300px">
      <input type="text" placeholder="Search" name="search2">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    -->
</div>

{# Navigation #}
<nav class="main-nav">
    <ul class="main-menu">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'searchbyzipcode' %}">Testing for Coronavirus (COVID-19)</a></li>
        <li><a href="{% url 'news' %}">News</a></li>
        <li><a href="{% url 'donate' %}">Donate</a></li>
        <li><a href="https://www.cdc.gov/" target="_blank">CDC</a></li>
    </ul>
</nav>


{# News Overhead #}
<div class="container">
    <section class="news">
        <h2>North Carolina News</h2>
        {#  News #}
    
        <section class="covid" id="covidInfoTab">
            {#  News Button/ Zip Search #}
            <div style="text-align: center;">
                <div onclick="pull_news_data();" style="display: inline-block; cursor: pointer; text-transform: uppercase; color: black; background-color: aliceblue;
                    border-radius: 10px; border: 1px solid indigo; padding: 10px;">
                    Get News
                </div>
            </div>
            {% for title in usa_titles %}
            {{ title.text }}<br/>
            <hr/>
        {% endfor %}

        {% for title in ny_times_titles %}
            {{ title.text }}<br/>
            <hr/>
        {% endfor %}

        {% for title in wccb_titles %}
            {{ title.text }}<br/>
            <hr/>
        {% endfor %}

        {% for title in wcnc_titles %}
            {{ title.text }}<br/>
            <hr/>
        {% endfor %}

        {% for title in wral_titles %}
            {{ title.text }}<br/>
            <hr/>
        {% endfor %}
    
      
      
</div>
</section>

{# Footer #}
<div class="copyright">
    <p><small>Copyright 2020, North Carolina Covid-19 Dashboard</small></p>
</div>

{#   Dark Mode and Legal  #}
<div class="btns">
<button type="button" onclick="changeMode(this)" id="modeButton" class="footerBtn">Dark Mode</button>
<button button href="./legal.html" type="button" id="legalBtn" class="footerBtn"  onclick="window.location.href='./legal.html'" >Terms</button>
</div>
</footer>

{# Style Scripts #}
<script src="../../static/main/js/style.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"
        integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg=="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
        integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg=="
        crossorigin="anonymous"></script>

{# Retreive News Function #}
<script>
    function pull_news_data() {
        $.ajax(
            {
                url: '../get_news_data/',
                data: {
                    search_term_1: "covid"
                },
                success: function (return_data) {
                    console.log(return_data);
                }
            }
        )
        //console.log('In the "get_news_data" function');
    }
</script>

</body>
</html>


